* {
    box-sizing: border-box;
}

html {
    background-color: rgb(228, 226, 226);    
}

body {
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    background-color: rgb(228, 226, 226);
}

figcaption {
    padding-top: 5px;
    padding-bottom: 13px;
    text-align: center;
    font-size: 13px;
}

/* ------ Header ------ */

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .title-header {
    margin: 0;
    padding-top: 10px;    
    font-size: 30px;  
    font-weight: 400;  
    text-align: center;
}

header .subtitle-header {
    font-style: italic;
    text-align: center;
}

/* ------ Main image ------ */

#img-div .container {
    max-width: 400px;
    height: auto;
    margin: auto;
}

/* Responsive image*/
#img-div img {
    max-width: 100%;
    height: auto;
    position: relative;
    display: block;
}

/* ------ Information section ------ */

#information .container {
    max-width: 456px;
    margin: 0 auto;    
    background-color: white;
}

#information .note {
    width: 100%;
    max-width: auto;
    background-color: white;
    padding: 0px 10px;
    margin: 25px auto;
}

#information #tribute-info {
    padding-top: 1px;
}

#information #experiments {    
    margin-top: 20px;
    border: none; border-top: 2px dotted rgb(202, 200, 200);
    border-width: 40%;    
}

#information img {
    max-width: 100%;
    height: auto;    
}

#information h4 {
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}

#information #experiments h4{
    padding-top: 12px;
}

#information p {
    text-align: justify;
}

#information ul {
    padding-left: 10px;
    text-align: justify;
}

/* ------ Footer section ------ */

footer {    
    font-size: 15px;
}

footer .container {
    max-width: auto;  
    margin: 0 auto;  
    padding: 0 10px;
    text-align: center;
}

@media (min-width: 456px) {

    header .title-header {    
        font-size: 6.2vw; 
    }
    
    header .subtitle-header {
        font-size: 3.2vw;
    }

    figcaption {
        font-size: 2.8vw;
    }

    #information .container {
        max-width: 400px;
        background-color: rgb(228, 226, 226);
    }

    #information .note {        
        border-radius: 2%;
        padding-top: 0px;
        font-size: 3.2vw;
    }

    #information #experiments {        
        margin-top: auto;
        border: none;
    }

    #information ul {
        padding-left: 20px;
    }

    #information h4 {
        font-size: 3.7vw;
        margin-bottom: 0px;
    }

    footer {
        font-size: 3.0vw;
    }
}


@media (min-width: 458px) {

    #img-div .container {
        max-width: 88%;
    }

    #information .container {
        max-width: 88%;
    }
    
}

@media (min-width: 600px) {

    header .title-header {    
        font-size: 6vw; 
    }
    
    header .subtitle-header {
        font-size: 3vw;
    }

    figcaption {
        font-size: 2.6vw;
    }

    #information .note {
        font-size: 3vw;
    }

    #information h4 {
        font-size: 3.5vw;
    }

    footer {
        font-size: 2.4vw;
    }
}

@media (min-width: 720px) {

    header .title-header {    
        font-size: 5.7vw; 
    }
    
    header .subtitle-header {
        font-size: 2.7vw;
    }

    figcaption {
        font-size: 2.3vw;
    }

    #information .note {
        font-size: 2.7vw;
    }

    #information h4 {
        font-size: 3.2vw;
    }

    footer {
        font-size: 2.5vw;
    }
}

@media (min-width: 860px) {

    header .title-header {    
        font-size: 3.8vw; 
    }
    
    header .subtitle-header {
        font-size: 1.8vw;
    }

    figcaption {
        font-size: 1.6vw;
    }

    #img-div .container {
        max-width: 40vw;
    }

    #information .container {
        max-width: 1400px;
        display: flex;
        align-items: flex-start;
        margin: 30px auto;
    }

    #information .note {
        width: 100%;
        max-width: 150vw;
        height: auto;
        margin: 0 auto;
        font-size: 2vw;
    }

    #information h4 {
        margin-top: 10px;
        font-size: 2.2vw;
    }

    #information #tribute-info {
        margin-left: 6vh;
        margin-right: 7.5vh;
    }

    #information #experiments {
        margin-left: 7.5vh; 
        margin-right: 6vh;
    }

    #information #experiments h4{
        padding-top: 0px;               
    }

    #information ul {
        padding-left: 20px;        
    } 
    
    footer {
        font-size: 1.8vw;
    }

    footer .container { 
        max-width: 100%;  
        text-align: center;
    }  
}

@media (min-width: 1000px) {

    header .title-header {    
        font-size: 2.9vw; 
    }
    
    header .subtitle-header {
        font-size: 1.4vw;
    }

    figcaption {
        font-size: 1.1vw;
    }

    #information .note {
        font-size: 1.5vw;
    }

    #information h4 {
        font-size: 1.7vw;
    }

    footer {
        font-size: 1.4vw;
    }
}

